@font-face {
  font-family: "Myriad Pro Regular";
  src: url("./fonts/MyriadPro-Regular.eot");
  src: url("./fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MyriadPro-Regular.woff") format("woff"),
    url("./fonts/MyriadPro-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
}

h2 {
  font-style: normal;
  font-size: 32px;
  line-height: 64px;
}

h3 {
  font-style: normal;
  font-size: 24px;
  line-height: 64px;
}

#header {
  overflow: hidden;
  height: 126px;
  padding: 20px 240px;
  background-color: #74bdb0;
  color: #fff;
}

#header > h1 {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header > img {
  height: 86px;
  float: right;
}

#main {
  padding: 40px 240px;
  border-bottom: 3px solid #ebebeb;
}

#main > * {
  margin-bottom: 40px;
}

#greetings {
  overflow: hidden;
}

#greetings img {
  width: 219px;
  height: 139px;
  float: right;
}

#greetings-text {
  padding-right: 50%;
  font-size: 20px;
  line-height: 32px;
}

.common-questions-item {
  margin-bottom: 20px;
}

.last-item {
  margin-bottom: 0;
}

.common-questions-item-label {
  margin-bottom: 10px;
}

.left-radio {
  margin-right: 8px;
}

#year-of-birth {
  width: 90px;
}

#education,
#profession {
  width: 250px;
}

#activities td {
  padding: 8px 8px;
}

#activities .activity {
  padding: 8px 10px 8px 0px;
}

#activities #activities-first-row > td {
  padding-top: 0px;
}

#activities #activities-last-row > td {
  padding-bottom: 0px;
}

#collective-memory-questionnaire {
  width: 700px;
  height: 700px;
  margin: 0 auto 0 auto;
}

#place-mark-wrapper {
  width: 700px;
  margin: 0 auto 0 auto;
}

#place-mark {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #74bdb0;
  border-radius: 8px;
  cursor: pointer;
}

#footer {
  padding: 40px 240px;
}

#submit {
  display: block;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  padding: 16px 32px;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: #f0f0f0;
  cursor: pointer;
}

// сообщение будет показано, если у пользователя не работает JavaScript
#no-js-alert {
  margin-bottom: 40px;
}

// сообщение будет показано, если Canvas или JavaScript у пользователя не работает
.critical-alert {
  color: #ff0000;
  font-size: 60px;
  line-height: 60px;
}

input[type="text"],
input[type="number"] {
  padding: 6px 12px;
  border: 1px solid #636363;
  border-radius: 4px;
  font-size: 16px;
}
